video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.button-row {
  position: absolute;
  top: 20px;
  right: 20px;
}
.title-container {
  position: absolute;
  top: 40%;
  left: 20px;
  transform: translateY(-50%);
}

.title {
  color: #ffff !important;
}

.description {
  max-width: 500px !important;
  line-height: 1.5;
  color: #ffff !important;
}
